/* Hide the original menu and make the space wider. */
#adminmenu {
	display: none;
}
#adminmenuback {
	background-color: #ebebeb !important;
	width: 240px;
}
#adminmenuwrap {
	background-color: #ebebeb !important;
	width: 240px;
}
/* Instead of going to an icon-only menu at this size, we make it show the mobile version. */
@media screen and (max-width: 960px) {
	.auto-fold #adminmenuback,
	.auto-fold #adminmenuwrap {
		display: none;
	}
	#wpadminbar li#wp-admin-bar-menu-toggle {
		display: block;
	}
	#wpadminbar #wp-admin-bar-menu-toggle .ab-item {
		display: flex;
		align-items: center;
	}
	#wpadminbar #wp-admin-bar-menu-toggle .ab-icon {
		margin-right: 0 !important;
	}
	#wpadminbar #wp-admin-bar-menu-toggle .ab-icon::before {
		content: "\f228";
		border: none;
		text-align: center;
	}
	.auto-fold .wp-responsive-open #adminmenuback, .auto-fold .wp-responsive-open #adminmenuwrap {
		display: block;
	}
	.auto-fold #adminmenu, .auto-fold #adminmenuback, .auto-fold #adminmenuwrap {
		position: absolute;
		width: 190px;
		z-index: 100;
	}
	.woocommerce-admin-page .wp-responsive-open #woocommerce-embedded-root, .woocommerce-admin-page .wp-responsive-open #wpbody {
		position: relative;
		right: -14.5em;
	}
	.wp-responsive-open #wpbody {
		right: -16em;
	}
	.auto-fold #wpcontent {
		margin-left: 0;
		padding-left: 10px;
	}
}
#wpcontent,
#wpfooter {
	margin-left: 240px;
}

/* Page editor */
@media (min-width: 783px) {
	.auto-fold .interface-interface-skeleton {
		/* This is 0 instead of the original 32px because we don’t have an icon-only navigation menu. */
		left: 0;
	}
}
@media (min-width: 961px) {
	.auto-fold .interface-interface-skeleton {
		/* Our admin navigation menu is wider. */
		left: 240px;
	}
}

/* Compatibility for https://wordpress.org/plugins/instagram-feed/ */
.sb-customizer-sidebar {
	left: 240px;
}
.sbi-csz-header-insider {
	width: calc(100% - 240px);
}
#toplevel_page_sb-instagram-feed .toplevel_page_sb-instagram-feed .wp-menu-image::before {
	margin-top: -1px;
}
.sbi-notice-alert {
	display: inherit;
	position: inherit;
}

/* Remove the WooCommerce secondary header. */
.woocommerce-layout__header {
	display: none !important;
}
#wpbody {
	margin-top: 0 !important;
}

/* Remove styles that affect our own menu. */
#dashify-navigation > ul {
	margin: 0 !important;
}

/* Style our own menu. */
#dashify-navigation {
	padding: 0.75rem;
	font-weight: 500;
	font-size: 0.85rem;
	overflow-y: auto;
	height: 100vh;
}
#dashify-navigation li {
	margin: 0;
	position: relative;
}
#dashify-navigation li:where(
	:not(.dashify-has-admin-menu-editor-plugin):not(#toplevel_page_woocommerce),
	.dashify-has-admin-menu-editor-plugin
) {
	padding: 0.4rem 0.5rem;
	border-radius: 0.5rem;
	transition: background-color 0.15s cubic-bezier(0.19, 0.91, 0.38, 1);
}
#dashify-navigation li.dashify-has-open-submenu .dashify-menu-icon-title-chevron-container {
	padding-bottom: 0.4rem;
}
#dashify-navigation .wp-submenu:where(
	:not(#toplevel_page_woocommerce ul),
	#toplevel_page_woocommerce.dashify-has-admin-menu-editor-plugin ul
) li {
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}
#dashify-navigation .wp-submenu.wp-submenu:where(
	:not(#toplevel_page_woocommerce ul),
	#toplevel_page_woocommerce.dashify-has-admin-menu-editor-plugin ul
) li a {
	padding-left: 1.5rem;
}
#dashify-navigation a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.5rem;
	color: #303030 !important;
	text-decoration: none;
	z-index: 0;
}
#dashify-navigation a::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#dashify-navigation li:hover:not(.wp-menu-separator) {
	cursor: pointer;
}
#dashify-navigation li:hover:not(.dashify-current):not(.dashify-has-open-submenu):not(.wp-menu-separator):where(
	:not(#toplevel_page_woocommerce),
	#toplevel_page_woocommerce.dashify-has-admin-menu-editor-plugin
) {
	background-color: #f1f1f1;
}
#dashify-navigation:has(.dashify-menu-chevron:hover) ul li:not(.dashify-current) {
	background-color: inherit !important;
}
#dashify-navigation a:focus {
	box-shadow: none;
}
#dashify-navigation a:focus::after {
	background-color: #f1f1f1;
	z-index: -1;
	border-radius: 0.5rem;
}
.dashify-menu-icon-title-container {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
.dashify-menu-icon-title-chevron-container {
	display: flex;
	justify-content: space-between;
}
#dashify-navigation a > span[class*="count"],
#dashify-navigation a > span[class*="awaiting-mod"] {
	font-size: 0.75rem;
	font-weight: 500;
	border-radius: 0.5rem;
	background-color: rgb(0, 0, 0, 0.06);
	padding: 0 0.5rem;
	margin-top: 0.06rem;
}
/* This ensures that no submenu item will get an icon, except for the
WooCommerce submenu which we move out of a submenu visually. */
#dashify-navigation .wp-submenu:not(#toplevel_page_woocommerce ul) img {
	display: none;
}
.dashify-current {
	font-weight: 600;
	background-color: #fafafa;
	border-radius: 0.5rem;
}
.dashify-submenu {
	font-weight: 400;
	display: none;
}
.visible {
	display: block;
}
.dashify-has-open-submenu .dashify-submenu {
	display: block;
}
.dashify-has-open-submenu:not(.wp-not-current-submenu) .dashify-menu-chevron {
	display: none;
}
.dashify-menu-chevron {
	padding: 0.3rem;
	border-radius: 0.25rem;
	transition: background-color 0.1s linear;
	z-index: 1;
	box-sizing: content-box;
}
.dashify-menu-chevron:hover {
	background: #d6d6d6;
	cursor: pointer;
}
.dashify-menu-heading,
.ame-menu-heading-item {
	font-size: 0.75rem;
	font-weight: normal;
	display: block;
	margin: 2.5rem 0 0.5rem 0;
	padding: 0;
}
#dashify-navigation div.wp-menu-image::before {
	padding: 0;
	color: #303030;
}
#dashify-navigation .wp-menu-image,
#dashify-navigation .wp-menu-image img {
	width: 15px;
	height: 15px;
	margin-right: 0.1rem;
}

/* Compatibility: Rank Math */

/* Without this, the submenu items are hidden by the plugin using this same
rule, but set to `display:none`. */
a#toplevel_page_rank-math:not(.wp-has-submenu) {
	display: flex;
}

/* This is the red circle next to Analytics in the Rank Math submenu. */
span.rm-menu-new {
	margin-left: 0 !important;
	margin-top: 1px !important;
	border-radius: 1rem;
}

/* Move the external link icon a little to the left. */
a[href^="https://rankmath.com/kb/"] i {
	margin-left: -6px;
}

/* Compatibility: Admin Menu Editor */

li#toplevel_page_woocommerce .wp-menu-image {
	background-image: none !important;
	mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiPjxwYXRoIGZpbGw9IiNhMmFhYjIiIGQ9Ik02MTIuMTkyIDQyNi4zMzZjMC02Ljg5Ni0zLjEzNi01MS42LTI4LTUxLjYtMzcuMzYgMC00Ni43MDQgNzIuMjU2LTQ2LjcwNCA4Mi42MjQgMCAzLjQwOCAzLjE1MiA1OC40OTYgMjguMDMyIDU4LjQ5NiAzNC4xOTItLjAzMiA0Ni42NzItNzIuMjg4IDQ2LjY3Mi04OS41MnptMjAyLjE5MiAwYzAtNi44OTYtMy4xNTItNTEuNi0yOC4wMzItNTEuNi0zNy4yOCAwLTQ2LjYwOCA3Mi4yNTYtNDYuNjA4IDgyLjYyNCAwIDMuNDA4IDMuMDcyIDU4LjQ5NiAyNy45NTIgNTguNDk2IDM0LjE5Mi0uMDMyIDQ2LjY4OC03Mi4yODggNDYuNjg4LTg5LjUyek0xNDEuMjk2Ljc2OGMtNjguMjI0IDAtMTIzLjUwNCA1NS40ODgtMTIzLjUwNCAxMjMuOTJ2NjUwLjcyYzAgNjguNDMyIDU1LjI5NiAxMjMuOTIgMTIzLjUwNCAxMjMuOTJoMzM5LjgwOGwxMjMuNTA0IDEyMy45MzZWODk5LjMyOGgyNzguMDQ4YzY4LjIyNCAwIDEyMy41Mi01NS40NzIgMTIzLjUyLTEyMy45MnYtNjUwLjcyYzAtNjguNDMyLTU1LjI5Ni0xMjMuOTItMTIzLjUyLTEyMy45MmgtNzQxLjM2em01MjYuODY0IDQyMi4xNmMwIDU1LjA4OC0zMS4wODggMTU0Ljg4LTEwMi42NCAxNTQuODgtNi4yMDggMC0xOC40OTYtMy42MTYtMjUuNDI0LTYuMDE2LTMyLjUxMi0xMS4xNjgtNTAuMTkyLTQ5LjY5Ni01Mi4zNTItNjYuMjU2IDAgMC0zLjA3Mi0xNy43OTItMy4wNzItNDAuNzUyIDAtMjIuOTkyIDMuMDcyLTQ1LjMyOCAzLjA3Mi00NS4zMjggMTUuNTUyLTc1LjcyOCA0My41NTItMTA2LjczNiA5Ni40NDgtMTA2LjczNiA1OS4wNzItLjAzMiA4My45NjggNTguNTI4IDgzLjk2OCAxMTAuMjA4ek00ODYuNDk2IDMwMi40YzAgMy4zOTItNDMuNTUyIDE0MS4xNjgtNDMuNTUyIDIxMy40MjR2NzUuNzEyYy0yLjU5MiAxMi4wOC00LjE2IDI0LjE0NC0yMS44MjQgMjQuMTQ0LTQ2LjYwOCAwLTg4Ljg4LTE1MS40NzItOTIuMDE2LTE2MS44NC02LjIwOCA2Ljg5Ni02Mi4yNCAxNjEuODQtOTYuNDQ4IDE2MS44NC0yNC44NjQgMC00My41NTItMTEzLjY0OC00Ni42MDgtMTIzLjkzNkMxNzYuNzA0IDQzNi42NzIgMTYwIDMzNC4yMjQgMTYwIDMyNy4zMjhjMC0yMC42NzIgMS4xNTItMzguNzM2IDI2LjA0OC0zOC43MzYgNi4yMDggMCAyMS42IDYuMDY0IDIzLjcxMiAxNy4xNjggMTEuNjQ4IDYyLjAzMiAxNi42ODggMTIwLjUxMiAyOS4xNjggMTg1Ljk2OCAxLjg1NiAyLjkyOCAxLjUwNCA3LjAwOCA0LjU2IDEwLjQzMiAzLjE1Mi0xMC4yODggNjYuOTI4LTE2OC43ODQgOTQuOTYtMTY4Ljc4NCAyMi41NDQgMCAzMC40IDQ0LjU5MiAzMy41MzYgNjEuODI0IDYuMjA4IDIwLjY1NiAxMy4wODggNTUuMjE2IDIyLjQxNiA4Mi43NTIgMC0xMy43NzYgMTIuNDgtMjAzLjEyIDY1LjM5Mi0yMDMuMTIgMTguNTkyLjAzMiAyNi43MDQgNi45MjggMjYuNzA0IDI3LjU2OHpNODcwLjMyIDQyMi45MjhjMCA1NS4wODgtMzEuMDg4IDE1NC44OC0xMDIuNjQgMTU0Ljg4LTYuMTkyIDAtMTguNDQ4LTMuNjE2LTI1LjQyNC02LjAxNi0zMi40MzItMTEuMTY4LTUwLjE3Ni00OS42OTYtNTIuMjg4LTY2LjI1NiAwIDAtMy44ODgtMTcuOTItMy44ODgtNDAuODk2czMuODg4LTQ1LjE4NCAzLjg4OC00NS4xODRjMTUuNTUyLTc1LjcyOCA0My40ODgtMTA2LjczNiA5Ni4zODQtMTA2LjczNiA1OS4xMDQtLjAzMiA4My45NjggNTguNTI4IDgzLjk2OCAxMTAuMjA4eiIvPjwvc3ZnPg==);
	background-color: #000000;
}

@media screen and (min-width: 783px) {
	#wpadminbar {
		margin-left: 0 !important;
		width: 100% !important;
	}
}

#dashify-navigation #ame_ms_admin_menu_logo {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 41%;
	background-origin: content-box;
	min-height: 10px;
	position: relative;
	display: block;
	box-sizing: content-box;
	background-color: #1e1e1e !important;
	height: 48px;
	padding-left: 7px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 10px;
	cursor: auto;
}

.ame-menu-heading-item {
	margin-top: 1rem;
	margin-bottom: 0.25rem;
}

.ame-menu-heading-item:hover {
	background-color: inherit !important;
	cursor: auto;
}

.ame-menu-heading-item .wp-menu-image {
	display: none;
}

/* Give custom icons more space so that they’re more likely to match our
default icon sizes. */
#dashify-navigation .ame-has-custom-image-url .wp-menu-image {
	width: 20px;
	height: 20px;
}
#dashify-navigation .ame-has-custom-image-url .wp-menu-image img {
	width: 20px;
	height: 20px;
}
#dashify-navigation:has(.ame-has-custom-image-url) .dashify-menu-icon-title-container > img {
	margin-left: 0.1rem;
	margin-right: 0.25rem;
}
#dashify-navigation:has(.ame-has-custom-image-url) .wp-submenu.wp-submenu:where(:not(#toplevel_page_woocommerce ul), #toplevel_page_woocommerce.dashify-has-admin-menu-editor-plugin ul) li a {
	padding-left: 1.8rem;
}
#dashify-navigation:has(.ame-has-custom-image-url) #toplevel_page_breakdance .wp-menu-image {
	margin-right: 0.4rem;
}
#dashify-navigation:has(.ame-has-custom-image-url) #toplevel_page_woocommerce .wp-menu-image {
	margin-right: 0.3rem;
}

/* Compatibility: WPFactory */
#toplevel_page_wpfactory .wp-menu-image {
	background-size: contain;
}

/* Compatibility: Breakdance (breakdance.com) */
#toplevel_page_breakdance .wp-menu-image {
	background-size: contain;
}

/* Compatibility: Ultimate Dashboard (https://wordpress.org/plugins/ultimate-dashboard/) */
.udb-admin-logo-wrapper a {
	box-sizing: content-box;
	height: 60px;
	padding: 10px 30px;
	justify-content: center !important;
	border-radius: 0 !important;
}
.udb-admin-logo-wrapper .udb-admin-logo {
	max-width: 100%;
	max-height: 100%;
}
.udb-admin-logo-wrapper:hover {
	background-color: inherit !important;
}
#adminmenuwrap:has(.udb-admin-logo-wrapper) {
	padding-top: 0 !important;
}
