#wpcontent {
	padding-left: 0 !important;
}

/* WooCommerce itself hides this on the order list and edit pages, so we do it
for subscription list and edit pages too, as the footer can collide with the
elements above. */
#wpfooter {
	display: none;
}

#woocommerce-subscription-data {
	border: none !important;
	box-shadow: none !important;
}

.panel {
	background-color: white;
	border: 1px solid #e9e9e9;
	border-radius: 0.75rem !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.select2-container {
	width: 100% !important;
}

#woocommerce-subscription-schedule p._billing_interval_field {
	width: fit-content !important;
}

.date-fields .wcs-date-input {
	margin-top: 0.25rem;
}
