.dashify-dismissible {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: fixed;
	top: 8rem;
	right: .75rem;
	min-width: 300px;
	max-width: 450px;
	padding: 1rem 0.75rem 1.75rem;
	border-radius: .5rem;
	background: linear-gradient(45deg, indigo, darkmagenta, indigo);
	--bold-text-color: white;
	--faint-text-color: rgba(255, 255, 255, 0.95);
	--faintest-text-color: rgba(255, 255, 255, 0.8);
}

.dashify-dismissible-header {
	display: flex;
	flex-direction: column;
	gap: .3rem;
}

.dashify-dismissible h1 {
	margin: 0;
	font-size: 19px;
	font-weight: 700;
	color: var(--faint-text-color);
}

.dashify-dismissible .description {
	color: var(--faintest-text-color);
	font-weight: 500;
}

.dashify-dismissible-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.dashify-dismissible-section {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.dashify-dismissible-section h2 {
	margin: 0;
	font-size: 15px;
	font-weight: 800;
	color: var(--faintest-text-color);
}

.dashify-dismissible-section> :not(h2) {
	display: flex;
	flex-direction: column;
	margin: 0 6px;
	gap: .25rem;
}

.dashify-dismissible-section li {
	position: relative;
	display: flex;
	gap: 0.5rem;
}

.dashify-dismissible-section li::before {
	content: '';
	display: flex;
	mask-image: url(../images/star-angle-svgrepo-com.svg);
	mask-size: contain;
	mask-position: center;
	mask-repeat: no-repeat;
	-webkit-mask-image: url(../images/star-angle-svgrepo-com.svg);
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	background-color: var(--faint-text-color);
	width: 1.15rem;
	height: 1.15rem;
	flex-shrink: 0;
}

.dashify-dismissible-section li:not(:last-of-type) {
	padding-bottom: 6px;
	border-bottom: .5px solid rgba(255, 255, 255, 0.15);
	margin-bottom: 2px;
}

.dashify-dismissible-section li span {
	display: inline;
	font-size: 14px;
	font-weight: 400;
	color: var(--bold-text-color);
}

.dashify-dismissible-section li b {
	position: relative;
	display: inline-block;
	margin: 0 4px;
	white-space: nowrap;
}

.dashify-dismissible-section li b::before {
	content: '';
	position: absolute;
	inset: -2px -4px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
}

.dashify-dismissible-button {
	position: absolute;
	right: 4px;
	top: 4px;
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: white;
	opacity: .5;
	outline: none;
	border: none;
	cursor: pointer;
	mask-image: url(../images/cross-svgrepo-com.svg);
	mask-size: contain;
	mask-position: center;
	mask-repeat: no-repeat;
	-webkit-mask-image: url(../images/cross-svgrepo-com.svg);
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	transition: all .2s;
}

.dashify-dismissible-button:hover {
	opacity: .8;
}

.dashify-dismiss-forever {
	background-color: transparent;
	border: none;
	color: #d6d6d6;
	cursor: pointer;
	width: fit-content;
	position: absolute;
	right: .5rem;
	bottom: .5rem;
}

.dashify-dismiss-forever:hover {
	text-decoration: underline;
}

@media screen and (max-width: 700px) {
	.dashify-dismissible {
		max-width: calc(100% - 1.5rem);
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.fade-out {
	animation-name: fade-out;
	animation-duration: 0.3s;
}
